.SidePanel{
    width: 30vw;
    height: 100vh;
    /* background-color: rgb(166, 213, 255); */
    display: flex;
    flex-direction: column;
     align-items: center;

}

.animation{
    height: 250px;
    width: auto;
}

.ai-interactive-scraper{
    color: purple;
}

.btn{
    width: 350px;
    color: black;
    margin-bottom: 10px;
}